p {
  color: gray;
}

ol a {
  color: green;
  text-decoration: line-through solid blue;
}

h2 {
  font-weight: normal;
  text-shadow: 2px px 5px yellow;
}

h1 {
  color: red;
  text-decoration: underline;
}
