@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'PlayfairDisplay';
  color: black;
  font-size: 19px;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
}

.header-top {
  display: inline-block;
  background: url('../images/banner.png') center / cover no-repeat;
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

.header-top-content .container {
  display: flex;
  padding: 0 200px;
}

.header-search {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.header-search form {
  display: flex;
  /* margin-top: 40px; */
  float: right;
  margin-right: 40px;
}

.searchbar {
  width: 100%;
  max-width: 254px;
  height: 40px;
  display: inline-flex;
}

.searchbar-input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 2px solid #cccccc;
}

.searchbar-input::placeholder {
  color: black;
  font-family: 'Roboto';
}

.searchbar-button {
  width: 40px;
  color: black;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.header-customer-support {
  float: left;
  margin: 40px auto;
}

.header-customer-support {
  display: inline-block;
}

.header-customer-support a:last-child {
  margin: 0 16px;
  content: 'I';
}

.header-customer-support .social-media li {
  display: inline-block;
  margin-left: 0 auto;
  color: white;
}

.header-site-controls {
  float: right;
  margin-right: 400px;
}

.header-site-controls ul li {
  display: inline-flex;
  padding: 0 16px;
}

.header-bottom {
  background-color: #2b2b2b;
  display: block;
  width: 100%;
  margin: 420px 0 50px 0;
}

.header-bottom .nav-main ul {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  color: white;
  line-height: 52px;
}

.content-main .container {
  display: flex;
}

.content-main > section > header h2 {
  font-size: 35px;
  font-family: 'Playfair Display, Bold Roman';
  color: #2b2b2b;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 100px;
  margin-bottom: 23px;
}

.catalog-preview > section > header h2 span {
  font-weight: 500;
}

.catalog-preview .container .product-tiles {
  display: flex;
  justify-content: space-between;
}

.catalog-preview .container .product-tiles {
  width: 23.672566371%;
}

.catalog-preview .product-tiles .container .product-tile-image {
  position: relative;
}

.catalog-preview .product-tiles .product-tile-image {
  width: 100%;
}

.catalog-preview .product-tile-image .product-tile-controls {
  font-size: 22px;
  font-weight: bold;
  color: #2b2b2b;
  position: absolute;
  top: 20px;
  right: 20px;
}

.catalog-preview .product-tile .product-tile-tile {
  text-align: center;
  font-family: 'Playfair Display, Bold Roman';
  font-weight: 800;
  margin-top: 21px;
  font-size: 22px;
  text-transform: uppercase;
}

.catalog-preview .product-tile .product-tile-pricing {
  text-align: center;
  font-weight: 300;
  font-size: 22px;
  margin: 21px 0;
}

.home-marketing-section .container {
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}

.home-marketing-section image {
  display: block;
  float: left;
  height: 666px;
  width: 666px;
}

.home-marketing-section .home-marketing-copy {
  display: block;
  flex-direction: column;
  font-family: 'Roboto-Light';
  margin: 0 0 40px 120px;
}

.home-marketing-copy > h1 {
  font-family: 'Playfair Display, Bold Roman';
  font-weight: 900;
  font-size: 44px;
  margin-bottom: 40px;
}

.footer {
  background-color: #cccccc;
}

.footer .container {
  display: inline-flex;
  justify-content: space-between;
}

.footer .footer-nav {
  display: inline-flex;
  justify-content: space-between;
}
.footer .footer-support .footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer .footer-support .footer-nav .footer-contact {
  margin-top: 40px;
}

.footer-information {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.footer .footer-connect {
  display: inline-block;
}
